body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100vw;
}

#sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
    height: 100vh;
    overflow-y: auto;
}

#sidebar h2 {
    margin-top: 0;
}

#sidebar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: grab;
    margin-bottom: 10px;
}

#main-content {
    flex-grow: 1;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

.cell-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td input {
    width: 100%;
    box-sizing: border-box;
}

td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
}
